<div class="row row-cols-2">
  <app-table class="col col-11"></app-table>
  <div class="col col-1">
    <a routerLink="/newEmployee"
      ><button
        type="button"
        class="btn btn-outline text-success sticky-top mt-4"
      >
        <svg
          width="4em"
          height="4em"
          viewBox="0 0 16 16"
          class="bi bi-plus-circle-fill"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
          />
        </svg>
        Add Employee
      </button></a
    >
  </div>
</div>
